html {
background: url("../Imagenes/fondoJapones.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  border-radius: 10px;
  margin-left:5%;
  margin-right: 5%;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: left;
}
iframe#maps{
  position:relative;
  display:block;
   margin: 0 auto;
}
.textocentrado{
  text-align: center;
  text-decoration: underline;
}
