html {
background: url("../Imagenes/fondo.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
  font-family: 'Josefin Sans', sans-serif;
}
body {
  margin-left:5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: left;
}
