div.general{
font-family: 'Josefin Sans', sans-serif;
color:white;
height: auto;
border:red 2px solid;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: white;
  border:red 2px solid;
}
html::before,
html::after,
body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: .5vmin;
  height: .5vmin;
  border-radius: 800;
  color: transparent;
}
div.titulo{
  margin-top: 200px;
  border:red 2px solid;
}

h1.mito {
  color:#4F4949;
  transition: transform .2s;
  margin-top: 20px;
  height: 15vmin;
  width: 120vmin;
  display: flex;
  justify-content: center;
  position: relative;
}

h1.mito:hover {
  transform: scale(1.1);
}

h1.mito::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: -10vmin;
  left: 43.5vmin;
  width: 32vmin;
  height: 32vmin;
  border-radius: 50%;
  border: 1.3vmin solid currentColor;
  box-sizing: border-box;
}

em {
  font-family: 'Josefin Sans', sans-serif;
  color: currentColor;
  font-size: 13vmin;
  position: relative;
  font-style: normal;
  width: 20vmin;
  text-align: center;
}

em.planet {
  -webkit-animation: planet-rotate 4s linear infinite;
  animation: planet-rotate 4s linear infinite;
  position: relative;
}

em.planet::before {
  content: "";
  position: absolute;
  top: -.5vmin;
  left: 1.8vmin;
  z-index: -1;
  width: 11vmin;
  height: 11vmin;
  border-radius: 50%;

}
em.planet.left {
  -webkit-transform-origin: 21.5vmin 7.5vmin;
  transform-origin: 21.5vmin 7.5vmin;
}

em.planet.right {
  -webkit-transform-origin: -8vmin 5vmin;
  transform-origin: -8vmin 5vmin;
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}
a.nounderline:link{text-decoration:none;}
a:link {color:#ffffff;}
a:visited {color:#ffffff;}
a:active {color:#ffffff;}
a:hover {color:#ffffff;}

div.cajas{
border:red 2px solid;
  overflow: hidden;
  margin-top:200px;
}
div.caja1{
  transition: transform .2s;
  border:#4F4949 2px solid ;
  float: left;
  border-radius: 15px 100px 30px 100px;
  width: 300px;
  height: 150px;
  background-image: url("../Imagenes/odin.jpg");
  background-size: cover;
}

div.caja2{
  transition: transform .2s;
  border:#4F4949 2px solid ;
  float:right;
  border-radius:  100px 15px 100px 30px;
  width: 300px;
  height: 150px;
  background-image: url("../Imagenes/ares.jpg");
  background-size: cover;
}
div.caja3{
  transition: transform .2s;
  border:#4F4949 2px solid ;
  float:right;
  margin-right:125px;
  border-radius: 100px 100px  100px 100px;
  width: 300px;
  height: 150px;
  background-image: url("../Imagenes/anubis.jpg");
  background-size: cover;
}

#footer{
  margin-top: 1000px;
  border:red 2px solid;
  height:500px;
  width:100%;
  background-color: black;
}
.contacto{

}

div.hover{
  transform: scale(1.1);
}
