html {
background: url("../Imagenes/fondo.jpg") no-repeat center center fixed;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}



div.general{
font-family: 'Josefin Sans', sans-serif;
height: auto;

}

body {
  text-align: center;
  margin-left:5%;
  margin-right:5%;
  display:flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}
html::before,
html::after,
body::before,
body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: .5vmin;
  height: .5vmin;
  border-radius: 800;
  color: transparent;
}


h1.mito {
  margin-left: auto;
  margin-right: auto;
  margin-top: 170px;
  color:#4F4949;
  transition: transform .2s;
  height: 15vmin;
  width: 120vmin;
  display: flex;
  position: relative;
  transition: opacity .2;
}

h1.mito:hover {
  transform: scale(1.1);
  opacity:1;
}

h1.mito::before {
  content: "";
  display: block;
  position: absolute;
  top: -10vmin;
  left: 43.5vmin;
  width: 32vmin;
  height: 32vmin;
  border-radius: 50%;
  border: 1.3vmin solid currentColor;
  box-sizing: border-box;
}

em {
  font-family: 'Josefin Sans', sans-serif;
  color: currentColor;
  font-size: 13vmin;
  position: relative;
  font-style: normal;
  width: 20vmin;
  text-align: center;
}

em.planet {
  -webkit-animation: planet-rotate 4s linear infinite;
  animation: planet-rotate 4s linear infinite;
  position: relative;
}

em.planet::before {
  content: "";
  position: absolute;
  top: -.5vmin;
  left: 1.8vmin;
  width: 11vmin;
  height: 11vmin;
  border-radius: 50%;

}
em.planet.left {
  -webkit-transform-origin: 21.5vmin 7.5vmin;
  transform-origin: 21.5vmin 7.5vmin;
}

em.planet.right {
  -webkit-transform-origin: -8vmin 5vmin;
  transform-origin: -8vmin 5vmin;
}

@-webkit-keyframes planet-rotate {
  to {
    -webkit-transform: rotate(1turn);
  }
}

@keyframes planet-rotate {
  to {
    transform: rotate(1turn);
  }
}
a.nounderline:link{text-decoration:none;}
a:link {color:#ffffff;}
a:visited {color:#ffffff;}
a:active {color:#ffffff;}
a:hover {color:#ffffff;}

div.cajas{
  margin-right: auto;
  margin-left: auto;
  width:auto;
  color: white;
  margin-top:200px;

}
.float-l{
  float:left;
}
.float-r{
  float:right;
}
div.caja1{
	position:relative;
  transition: transform .2s;
  border:#4F4949 2px solid ;
  border-radius: 15px 100px 30px 100px;
  width: 250px;
  height: 125px;
  background-image: url("../Imagenes/odin.jpg");
  background-size: cover;
}
div.caja2{
	position:relative;
  transition: transform .2s;
  border:#4F4949 2px solid ;
  border-radius: 100px 100px  100px 100px;
  width: 250px;
  height: 125px;
  background-image: url("../Imagenes/anubis.jpg");
  background-size: cover;
}

div.caja3{
	position:relative;
  transition: transform .2s;
  border:#4F4949 2px solid ;
  border-radius:  100px 15px 100px 30px;
  width: 250px;
  height: 125px;
  background-image: url("../Imagenes/ares.jpg");
  background-size: cover;
}
div.caja4{
	position:relative;
  transition: transform .2s;
  border:#4F4949 2px solid ;
  border-radius: 100px 100px  100px 100px;
  width: 250px;
  height: 125px;
  background-image: url("../Imagenes/amaterasu.jpg");
  background-size: cover;
}
div#anubis {
  position:absolute;
  overflow:hidden;
  border-radius: 100px 100px  100px 100px;
  width: 250px;
  height: 125px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
}

div.caja2:hover div#anubis {
  opacity:1;
}

p#head {
  position: absolute;
  font-size: 1.5rem;
  margin-left: 85px;
  margin-top: -75px;
  transition: margin-top 0.3s;
}

div.caja2:hover p#head {
  margin-top: 15px;
}
p#descripciones {
  font-size: 1rem;
  text-align: center;
  margin-top: 200px;
  transition: margin-top 0.4s;
}
div.caja2:hover p#descripciones {
  margin-top: 50px;
}

div#odin {
  position:absolute;
  overflow:hidden;
  border-radius: 15px 100px 30px 100px;
  width: 250px;
  height: 125px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
}
div.caja1:hover div#odin {
  opacity:1;
}
div.caja1:hover p#head {
    margin-top: 15px;
}
div.caja1:hover p#descripciones {
  margin-top: 50px;
}


div#ares {
  position:absolute;
  overflow:hidden;
  border-radius:  100px 15px 100px 30px;
  width: 250px;
  height: 125px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
}
div.caja3:hover div#ares {
  opacity:1;
}
div.caja3:hover p#head {
    margin-top: 15px;
}
div.caja3:hover p#descripciones {
margin-top: 50px;
}

div#amaterasu {
  position:absolute;
  overflow:hidden;
  border-radius:  100px 100px 100px 100px;
  width: 250px;
  height: 125px;
  background-color: rgba(31, 31, 31, 0.9);
  opacity:0;
  transition: opacity 0.3s;
}
div.caja4:hover div#amaterasu {
  opacity:1;
}
div.caja4:hover p#head {
    margin-top: 15px;
}
div.caja4:hover p#descripciones {
  margin-top: 50px;
}

div#textaco{
  margin-top: 150px;
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: #eefbf8;
    background-image: radial-gradient(circle, hsla(0,0%,100%,.1), hsla(0,0%,0%,.75)),
                      linear-gradient(left, transparent 50%, hsla(0,0%,0%,.01) 50%);
    background-position: 50% 75%, 50% 50%;
    background-repeat: no-repeat, repeat;
    background-size: 150% 150%, 3em 3em;
    font-size: 100%;
    min-height: 100%;
}
  /**********/
 /* Slider */
/**********/

.slider {
    background-color: #fff;
    box-shadow: inset 0 0 2px hsla(0,0%,0%,.2),
                0 3px 1px hsla(0,0%,100%,.75),
                0 -1px 1px 2px hsla(0,0%,0%,.1);
    height: 18.75em;
    left: 50%;
    margin: -9.875em -13em;
    top:12%;
    padding: .5em;
    position: relative;
    width: 25em;
}

/* Frame */

.slider:before {
    background-color: #22130c;
    bottom: -2.5em;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,.2),
                inset 0 -2px 1px hsla(0,0%,0%,.4),
                0 5px 50px hsla(0,0%,0%,.25),
                0 20px 20px -15px hsla(0,0%,0%,.2),
                0 30px 20px -15px hsla(0,0%,0%,.15),
                0 40px 20px -15px hsla(0,0%,0%,.1);
    content: '';
    left: -2.5em;
    position: absolute;
    right: -2.5em;
    top: -2.5em;
    z-index: -1;
}

/* Mat */

.slider:after {
    background-color: #fff5e5;
    bottom: -1.5em;
    box-shadow: 0 2px 1px hsla(0,0%,100%,.2),
                0 -1px 1px 1px hsla(0,0%,0%,.4),
                inset 0 2px 3px 1px hsla(0,0%,0%,.2),
                inset 0 4px 3px 1px hsla(0,0%,0%,.2),
                inset 0 6px 3px 1px hsla(0,0%,0%,.1);
    content: '';
    left: -1.5em;
    position: absolute;
    right: -1.5em;
    top: -1.5em;
    z-index: -1;
}

/* Slides */

.slider li {
    box-shadow: 0 -1px 0 2px hsla(0,0%,0%,.03);
    list-style:none;
    position: absolute;
}
.slider input {
    display: none;
}

/* Navigation */

.slider label {
    background-color: #111;
    background-image: linear-gradient(transparent, hsla(0,0%,0%,.25));
    border: .2em solid transparent;
    bottom: .5em;
    border-radius: 100%;
    cursor: pointer;
    display: block;
    height: .5em;
    left: 24em;
    opacity: 0;
    position: absolute;
    transition: .25s;
    width: .5em;
    visibility: hidden;
    z-index: 10;
}
.slider label:after {
    border-radius: 100%;
    bottom: -.2em;
    box-shadow: inset 0 0 0 .2em #111,
                inset 0 2px 2px #000,
                0 1px 1px hsla(0,0%,100%,.25);
    content: '';
    left: -.2em;
    position: absolute;
    right: -.2em;
    top: -.2em;
}
.slider:hover label {
    opacity: 1;
    visibility: visible;
}
.slider input:checked + label {
    background-color: #fff;
}
.slider:hover li:nth-child(1) label {
    left: .5em;
}
.slider:hover li:nth-child(2) label {
    left: 2em;
}
.slider:hover li:nth-child(3) label {
    left: 3.5em;
}
.slider:hover li:nth-child(4) label {
    left: 5em;
}

/* Images */

.slider img {
    height: 18.75em;
    opacity: 0;
    transition: .25s;
    width: 25em;
    vertical-align: top;
    visibility: hidden;
}
.slider li input:checked ~ img {
    opacity: 1;
    visibility: visible;
    z-index: 10;
}

p a{
	color: #184DA8;
	text-decoration: none;
}
p a:hover{
	text-decoration: underline;
}

.center-align{
	margin: 0 auto;
	width: 100%;
}

.black{color: black;}
.white{color: white;}

.section-columns{
}
.section-columns > div{
	display: inline-block;
	vertical-align: top;
	width: 49%;
}

.section-columns h2{
	font-size: 72px;
}

#intro-container .section-columns h2{
	padding-top: 120px;
	padding-bottom: 30px;
}

.section-columns h3{
	font-size: 26px;
	font-weight: lighter;
	line-height: 40px;
}
.section-columns p{
	font-weight: lighter;
	font-size: 16px;
	line-height: 30px;
	padding-bottom: 10px;
}
#footer{
	margin-top: 400px;
	padding-top: 50px;
	height: 300px;
}

#footer h3{color: white; padding-top: 70px; margin: 0;}
#footer p {color: gray; padding-bottom: 30px;}
.bg-white{
	background-color: white;
}
.bg-gray{
	background-color: #666;
}
.bg-black{
	background-color: #000;
}
.btn{
	border: solid 1px;
	padding: 20px 40px;
	text-decoration: none;
	margin-right: 10px;
}
.btn-black{
	border-color: black;
	color: black;
}
.btn-black:hover{
	background-color: black;
	border-color: white;
	color: white;
}
.btn-white{
	border-color: white;
	color: white;
}

.btn-white:hover{
	background-color: white;
	border-color: black;
	color: black;
}
